extend layout
block principal
  .principal   
    h2 liste des articles
    ul
      for article in articles
        li 
          a(href="/article/#{article.id}") #{article.titre}
          em 
            | &nbsp;#{article.date}
            if (article.date != article.datemodif)
              | &nbsp;(modifié #{article.datemodfi})
          | &nbsp-> 
          a(href="/admin/article/edit/#{article.id}") modif.
          | &nbsp/&nbsp;
          a(href="/admin/article/remove/#{article.id}") suppr.
      else
        p aucun article

    h2 ajouter un article
    form(action="/admin/article/add", method="post")
      input(type="text", name="titre", placeholder="titre" required)
      br
      textarea(name="textjade", rows="10", cols="100", id="textjade")
        | extend ../layout
        | block article
        |   h2 titre
      br
      a(href="/admin/addtest" target="_blank" id="linktest") test
      | &nbsp;
      input(type="hidden" name="textvalue" id="linkhidden")
      input(type="submit" value="hop")
  script(type="text/javascript", src='/js/jquery.js')
  script(type="text/javascript", src='/js/rendu.js')
