extend layout
block principal
  .principal
    h2 todo
    ul
      li
        b faire un projet auth/passport avec des messages d'erreur
      li design du cv

    h2 liste des articles (desc)
    if (articles.length > 0)
      table
        thead
          tr
            th nom
            th date
            th actions
        tbody
          for article in articles
            tr 
              td
                a(href="/admin/article/#{article.id}") #{article.titre}
              td 
                | #{article.date}
                if (article.date != article.datemodif)
                  em
                    | &nbsp;(modif le #{article.datemodif})
              td
                a(href="/admin/article/edit/#{article.id}") modif.
                | &nbsp/&nbsp;
                a(href="/admin/article/remove/#{article.id}") suppr.
                | &nbsp/&nbsp;
                if (article.enligne)
                  | en ligne
                else
                  a(href="/admin/article/online/#{article.id}") mettre en ligne
    else
      p aucun article

    hr

    // formulaire d'ajout via le textarea
    h2 ajouter un article (textarea jade)
    form(action="/admin/article/add", method="post")
      label(for="titre") titre 
      input(type="text", id="titre", name="titre", required)
      label(for="urljade") url / jade 
      input(type="text", id="urljade", name="urljade", required)      
      br
      textarea(name="textjade", rows="10", cols="100", id="textjade")
        | extend ../layout
        | block article
      input(type="hidden" name="textvalue" id="linkhidden")
      br
      input(type="submit" value="hop !")

    // formulaire d'ajout via un fichier jade externe
    h2 ajouter un article (upload .jade)
    form(action="/admin/article/addfile", method="post", enctype="multipart/form-data")
      label(for="titre") titre
      input(type="text", id="titre", name="titre", required)
      | &nbsp;
      label(for="urljade") url / jade
      input(type="text", id="urljade", name="urljade", required)
      input(type="file", name="jadefile", required)
      input(type="submit" value="hop !")

    hr

    // formulaire d'ajout d'img dans /img/biblio/
    h2 upload d'images (/img/biblio/)
    form(action="/admin/img/add", method="post", enctype="multipart/form-data")
      input(type="file", name="img", required)
      input(type="submit" value="hop !")

  script(type="text/javascript", src='/js/jquery.js')
  script(type="text/javascript", src='/js/rendu.js')
